
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/Content/Assets/Images/icon.png" />
    <title>SSS System - @ViewBag.Title</title>
    @*@Styles.Render("~/Content/global")
        @Styles.Render("~/Content/css")

        @Scripts.Render("~/content/corejs")
        @Scripts.Render("~/content/themejs")
        @Scripts.Render("~/content/appjs")*@

    @Html.Partial("_mainCss")
    @Html.Partial("_mainJs")

</head>

<body>

    @Html.Partial("_mainnav")

    <div class="page-content">
        @Html.Partial("_mainsidebar")

        <div class="content-wrapper">
            @Html.Partial("_pageheader")
            <div class="content">

                @RenderBody()
                
            </div>

        </div>
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>

